
.container{
    display: flex;
    text-align: center;
    color: white;
    position: relative;
  
}
#horn{ 
    margin-top: 2%;
  position: absolute;
  width: 10%;
   margin-left: -5%; 

}
.container h4{
    color: rgb(245, 131, 131);
}
.container h5{
    margin-top: 39%;
    color: gray;
    font-size: 20px;
}
.container h1{
    font-size: 60px;
    

}
.icon-top{
font-size: 22px;
    margin-left: 85%;
    margin-top: 39px;
    display: flex;
    gap: 19%;}
  
.icon-top a{
    text-decoration: none;
    color: rgb(88, 88, 88);

  } 
   


.accra{
    background-image: linear-gradient(rgba(17,18,18,0.5),rgba(0,0,0,0.8)),url(image/accra.jpg);
    width: 85vh;
    height: 98vh;


}
.accra h5{
    margin-top: 43%;
}
.nairobi{
    background-image: linear-gradient(rgba(17,18,18,0.5),rgba(0,0,0,0.8)),url(image/nairobi.jpg);
width: 65vh;
background-repeat: no-repeat;

}
.nairobi h5{
    margin-top: 50%;
}
.zanzibar{
    background-image: linear-gradient(rgba(17,18,18,0.5),rgba(0,0,0,0.8)),url(image/zanzibar.jpg);
width: 75vh;
position: relative;

}

nav{
        margin-top: -8.5%;
       margin-left: 29%;
        background-color:  black;
        width: 40%;
        height: 60px;
    font-size: 100%;
    border-radius: 55px;
    position: fixed;
    padding-top: 1.5%;
    padding-left: 2%;
    padding-right: 1%;
    }

.navigate a{
    text-decoration: none;
    color: white;
    margin: 2%;
}
#reserve{

  background-color: gray;
  border-radius: 9cqb;
  padding: 2% 2% 3%;
}
.navigate a:hover{
color: gray;
}

#reserve:hover{
    background-color: white;
    color: black;
}
#icon-bottom{
    color: rgb(88, 88, 88);
    position: fixed;
    margin-left: 25%;
   font-size: 250%;
}
@media only screen and (max-width:430px){
   
    #horn{ 
        width: 25%;
         margin-left: -10%; 
      
      }
      .container h4{
          font-size: 15%;
      }
      .container h5{
          margin-top: 190%;
          font-size: 10px;
      }
      .nairobi h5{
        margin-top: 215%;

      }
      .zanzibar h5{
        margin-top: 165%;
      }
      .container h1{
          font-size: 30px;
        }

        .icon-top{
            font-size: 22px;
                margin-left: 50%;
              
        }    
        nav{
            margin-top: -30%;
            width: 85%;
            margin-left: 3px;
            font-size: 10px;
        }  
        #reserve{
        padding-top: 0%;
        margin-left: 40%;
        }  
        #icon-bottom{
            margin-left: 30%;
            margin-top: 13%;
        }
}
@media screen and (min-width:431px) and (max-width:810px){
  
    .accra h5{
        margin-top: 82%;
    }
    .nairobi h5{
        margin-top: 65%;
    }
    .zanzibar h5{
        margin-top: 28%;
    }
    nav{
        width: 80%;
        margin-left: 2%;
        font-size: 10px;
        padding-top: 3.5%;
        margin-top: -15%;
    }
    .icon-top{
        margin-left: 52%;
    }
    #icon-bottom{
        margin-top: -40px;
        margin-left: 5%;
    }
}