body{
    overflow: hidden;


}
.icon-top{
    font-size: 25px;
    display: flex;
    gap:29%;
  position: fixed;
     position: absolute;
    margin-left: 95%;
    margin-top: -31%;
 
      
}
.icon-top a{
    text-decoration: none;
    color: rgb(88, 88, 88);
}

#horn{
    margin-top: -30%;
    margin-left: 43%;
    position:absolute;
    width: 14%;

}
#title{
    color: white;
    margin:0 42% 0 40%;
font-size: 690%;


}
#icon-bottom{
    color:rgb(41, 35, 35);
    position: fixed;
    margin-left: 23%;
   font-size: 290%;
    
   
}
nav{
    position: fixed;
    overflow: hidden;
    margin-top: -9.5%;
   margin-left: 29%;
    background-color:  black;
    height: 55px;
    width: 40%;
font-size: 100%;
border-radius: 55px;
position: fixed;
padding-top: 1.5%;
padding-left: 2%;
display: flex;
justify-content: space-between;

} 
.navigate a{
    text-decoration: none;
    color: white;
    height: 30px;
    margin: 1%;
}
.navigate a:hover{
    color:gray;
    
}
#reserve{
    background-color:gray;
    border-radius: 9cqb;
    height: 40px;
    width: 120px;
    padding-top: 2.2%; 
    padding-left: 2%; 
    margin: -2%;
    
   
}
#reserve:hover{
    background-color: white;
    color: black;

}
.container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    filter: brightness(0.8);
}

.home{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    animation: fade 15s infinite;
    background-position: center;
    opacity: 0;
  
}
.container h1{
    text-align: center;
    margin-top: 19%;
    color: gray;
    font-size:850%;
}


.welcome {
    animation-delay: 0s;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5)),url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c34fee7c31fcb2f8c3700b_001-p-2000.jpg);
    
}

.discover {
    animation-delay: 5s;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5)),url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65e5b8b549a7aac5dba0e7d3_ankole_kilimani_nightlife.jpg);
}

.exprience {
    animation-delay: 10s;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c5f9644676e29dddf08c65_ankolegrill_t-bone-steak-2024-1.jpg);
}

.taste {
    animation-delay: 15s;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c3b0c67153d0056443f31e_ankolegrill_escobar1.jpg);
}

.savour {
    animation-delay: 20s;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)), url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65cb61d8c46dc657819e1cc2_ankolegrill_slider.jpg);
}

@keyframes fade {

    0%,
    100% {
        opacity: 0;
    }

    20%,
    40% {
        opacity: 1;
    }

    60%,
    100% {
        opacity: 0;
    }
}
@media only screen and (max-width:430px){
    .icon-top{ 
        
        gap:10%;
        margin-left: 85%;
        margin-top: -81%;      
    }

    nav{
        overflow: hidden;
        margin-top: -29.5%;
       margin-left: 3%;
        height: 55px;
        width:80%;
    font-size: 60%;
    padding-top: 5.5%;
    }
    
    .icon-top a{
    margin-left: -45%;
    margin: 1%;
    }
    
    #reserve{
        height: 30px;
        width: 65px;
        padding-top: 2.9%; 
        padding-left: 1.9%; 
        margin: -2%;
        
       
    }

    .container h1{
        text-align: center;
        margin-top: 69%;
        color:gray;
        font-size:390%;
    }
    #horn{
        width: 30%;
        margin-left: 37%;
        margin-top: -60%;
        position:absolute;
    }
    #title{
        color: white;
        margin:0 42% 0 40%;
    font-size: 690%; 
    }
    #icon-bottom{
        margin-top: 10%;
        margin-left: 4%;
       font-size: 290%;
}
}
@media  screen and (min-width:431px) and (max-width:820px){
nav{
    width: 90%;
    margin-top: -15%;
    margin-left: 2%;
    font-size: 15px;
    padding-top: 4%;
  
   } 
   #horn{
    position: fixed;
    margin-top: -62%;

   }
   .icon-top{
    margin-left: 82%;
    margin-top: -75%;
   }
   .home h1{
    margin-top: 40%;
   }
#reserve{
    width: 15%;
    padding-top: 3%;
    height: 49%;
    padding-left: -8%;
}
}