
body{
    overflow: hidden;
    background-image: url(image/house.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.container{
    display: flex;
    margin-left: 15%;
    margin-top: 2%;
    line-height: 35px;
    color: white;
    
}
.icon-top{
    margin-top: 15px;
    font-size:25px;
    display: flex;
         gap: 58%;
        position: absolute; 
      margin-left: 90%; 
    }
.icon-top a{
    text-decoration: none;
    color: rgb(88, 88, 88);
}
.navigate{
 margin-top: 3%; 
margin-left: 29%;
background-color:  black;
 height: 60px;
width: 40%;
border-radius: 55px;
position: fixed;
padding-top: 2%;

 }
 #horn{
    margin-top: 50px;
    margin-left: 46%;
    width: 195px;
 } 
.navigate a{
        text-decoration: none;
        color: white;
        margin: 2%;
    }
.navigate a:hover{
        color:gray;
        
    }
#reserve{
        border-radius: 9cqb;
     background-color: gray;
     padding:3% 3% 2.5% 3%;
     
     
    }
#reserve:hover{
    background-color: white;
    color: black;
}
#icon-bottom{
    margin-left: 90%;
    color: rgb(88, 88, 88);
   font-size: 260%;
   margin-top: 4%;
}
.kitisuru{
    margin:4% 13%;
    border: solid 2px white;
    padding-left: 2%;
    width: 25%;
    height: 30%;

  
}
.kitisuru a{
    text-decoration: none;
    color: white;
}
.kilimani{
    margin-left: -11%;
    border: solid 2px white;
    width: 28%;
    padding-left:2% ;
    height: 33%;
    margin-top: 4%;
 
}
.kilimani a {
    text-decoration: none;
    color: white;
}
@media only screen and (max-width:430px){
    .container{
        margin-left: 10%;
        margin-top: 2%;
        line-height: 10px;
        
    } 
    
    .icon-top{
        margin-top: 10px;
          margin-left: 75%; 
        }

        #horn{
            width: 30%;
            margin-left: 35%;
        }

        .kitisuru{
            margin-top: 39%;
            width: 40%;
            margin-left: -8%;
            font-size: 10px;
        }
        .kilimani{
            margin-top: 39%;
            width: 50%;
            font-size:10px ;
        }
    .navigate{
        padding-top: 0.5%;
        margin-top:69%;
        margin-left: 40px;
        width: 80%;
        font-size: 10px;
    }
    #reserve{
        margin-left: 35%;
       padding-top: 0.1%;
       padding-bottom: 1%;
       padding-left: 0.2%;
       height: 40px;
    }
    #icon-bottom{
        margin-top: 89%;
        margin-left: 80%;
        font-size: 40px;
    }
}
@media screen and (min-width:431px) and (max-width:820px){
    
    
    .container{
        width: 100%;
    }
    .kitisuru{
        width: 40%;
        height: 50%;
        margin-left: -12%;

    }
    .kilimani{
        width: 40%;
    }
    nav{
        margin-top: 10%;
        width: 90vw;
        margin-left: -72%;
        font-size: 10px;
        
    }
    #reserve{
        margin-left: -2%;
        padding-left: 2%;
    }
    .icon-top{
        margin-left: 72%;
    }
    #horn{
        width: 30%;
        margin-left: 32%;
    }
    #icon-bottom{
        margin-left: 87%;
        margin-top: 10%;
    }
}