body{
    background-image: linear-gradient(rgba(17,18,18,0.5),rgba(0,0,0,0.8)),url(image/drum.webp);
    background-size: cover;
    height: 100vh;
}

nav{
    margin-top: 45%; 
    margin-left: 5%;
    background-color:  black;
    height: 60px;
    width: 40%;
font-size: 100%;
border-radius: 55px;
position:absolute;
position: fixed;
padding-top: 1%;
padding-left: 2%;
display: flex;
justify-content: space-between;

} 
nav a{
    text-decoration: none;
    color: white;
    height: 30px;
    margin: 1%;
}
nav a:hover{
    color:gray;
    
}
#reserve{
    border-radius: 9cqb;
    height: 40px;
    width: 120px;
    background-color: gray;
    margin-top: -1.5%;
    padding-top: 2%;
    padding-left: 0.1%;
}
#reserve:hover{
    background-color: white;
    color: black;
}
.live{
    display: flex;
    gap:30%;
   
}
.music{
    display: flex; 
}
#reservation{
    width: 150%;
    height: 160%;
    border-radius: 16px;
}
#horn{
   width: 60%; 
   margin-left: 85%;
   margin-top: 15%;
}
.tukatiku{
text-align: center;

}  

.tukatiku h1{
color: red;
margin-left: 17%;
font-size: 390%;
position: fixed;
margin-top: 10%;



}
.tukatiku p{
     margin-top: 7%; 
     margin-left: 17%; 
    font-size: 190%;
    color: white;
    position: fixed;
}


#acoustic{
    width: 90%;
     height: 35vh;
     margin-top: 3%;
     
}

.musicians{
    display: flex;
    flex-direction: column;
    

}
.musicians a:hover{
    transform: scale(1.1);

}


.open p{
    margin-top: 63%;
    color: red;
    font-size: 160%;
}
.open h3{
color: white;
font-size: 125%;

}

#icon-bottom{
    font-size: 300%;
    position: absolute;
    margin-left: 19%;
    margin-top: -20%;
    color: rgb(88, 88, 88);
     position: fixed; 
}
.continue-live{
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
    position: absolute;
}
@media only screen and (max-width:430px){
    nav{
        margin-top: 199%; 
        margin-left: -1%;
        background-color:  black;
        height: 50px;
        width: 90%;
    font-size: 75%;
    border-radius: 55px;
    position:absolute;
    position: fixed;
    padding-top: 4%;
    padding-left: 0%;
    display: flex;
    justify-content: space-between;
    
    } 
    nav a{
        text-decoration: none;
        color: white;
        height: 30px;
        margin: 1%;
    }
    #reserve{
        border-radius: 9cqb;
        height: 30px;
        width: 80px;
        background-color: gray;
        margin-top: -1.5%;
        padding-top: 2.9%;
        padding-left: 0.1%;
    }

    .live{
        display: flex;
        gap:1%;
    }

     .tukatiku h1{
        color: red;
        margin-left: 10%;
        font-size: 200%;
        position: fixed;
        margin-top: 85%;
        
        
        
        }
        .tukatiku p{
             margin-top: 77%; 
             margin-left: 10%; 
            font-size: 150%;
            color: white;
            position: fixed;
        }
        
        
        #acoustic{
            width: 110%;
             height: 29vh;
             margin-top: 3%;
             margin-left: 12%;
             
        }

        .open h3{
            margin-left: 15%;
          


        }
        .open p{
            margin-left: 15%;
        }
        @media (max-width: 768px) {
            
        }


}
@media screen and (min-width:431px) and (max-width:810px){
    nav{
        margin-top: 135%;
        width: 85%;
        font-size: 15px;
        padding-top:2%;
        margin-left: 2%;
    }
    #horn{
        margin-top: 92%;
        position:static;
    }
    #reserve{
      width: 20%;
      padding-left: 2%;
    }
    #acoustic{
        width: 150%;
        margin-left: -52%;

    }
}