
body{
    overflow: hidden;
} 
.icons{
    
    position: absolute;
    margin-top: 3%;
    margin-left: 92%;
    display: flex;
    gap:10%;
    font-size:25px;
} 
.icons a{
    text-decoration: none;
    color: white;
}
.reviews {
    background-color: black;
    height: 100vh;
  }
  .review h1{
    font-size: 40px;
  }
  .review {
    display: flex;
    width: 40%;
    margin: auto;
    color: white;
    text-align: center;
    line-height: 2;
    font-weight: bold;
  }
  .horn img{
    margin-top: 5%;
    height: 200px;
    width: 220px;
    margin-left: 44%;
  }
  #left-icon {
    color: rgb(238, 98, 47);
    font-size: 60px;
    right: 71%;
    top: 35vh;
    position: absolute;
  }
  #right-icon{
    color: rgb(238, 98, 47) ;
    font-size: 60px;
    left: 75%;
    bottom: 35%;
    position: absolute;
  }
  .left-arrow:hover,
  .right-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .left-arrow,
  .right-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 20%;
    margin-left: 20%;
    margin-top: -22px;
    color: rgb(53, 49, 49);
    font-size: 36px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .right-arrow {
    right: 3%;
    border-radius: 4px 0 0 4px;
    position: fixed;
  }
  .left-arrow {
    position: fixed;
    left: 3%;
    border-radius: 4px 0 0 4px;
  }
  .review-logo img {
    width: 13%;
}
    
  /* .social-media {
    color: rgb(100, 96, 96);
    margin-top: 5%;
    margin-left: 90%;
    position: fixed;
    font-size: 200%;
  } */

  .navigate{
    position: absolute;
   margin-top: 2.3%;
    margin-left:29% ; 
    font-size: 90%;
    background-color: rgb(10, 9, 10);
    padding-left: 40px;
    padding-top: 30px;
    border-radius: 9cqb ;
    width: 40%;
    height: 50px;
    
}
#reserve{
    background-color: gray;
    border-radius: 9cqb;
   padding: 2% 2%;
}
#reserve:hover{
    background-color: white;
    color: black;
}
.navigate a{
    text-decoration: none;
    color: white;
    margin: 2%;
}
  .navigate a:hover{
    background-color: rgb(190, 183, 183);

} 
 #icon-bottom{
  margin-left: 93%; 
    position: absolute;
   margin-top: 4%; 
    font-size: 50px;
    text-align:right;
   color:white;
}
    









  @media only screen and (max-width: 300px) {
    .left-arrow,
    .right-arrow {
      font-size: 11px
    }
  }
  .review {
    animation-name: flow;
    animation-duration: 1.5s;
  }
  @keyframes review {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  

